{% load socialaccount %}
<html>
<head>

  <title>冠曄與他科技應用專題好夥伴</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
  <h2>冠曄與他科技應用專題好夥伴</h2>       
  <table class="table table-hover">
    <thead>
      <tr>
        <th>暱稱</th>
        <th>給分</th>
        <th>評語</th>
      </tr>
    </thead>

    <tbody>
      {% for student in student_list %}
	      <tr>
	        <td>{{student.sNickname}}</td>
	        <td>{{student.iNowScore}}</td>
          <td>{{student.sComment}}</td>
	      </tr>
	  {% endfor %}

	  	<tr>
	  		<td>平均</td>
	  		<td>{{average}}</td>
	  	</tr>

    </tbody>
  </table>
</div>

<div class="container">
  <h2>馬上評分</h2>
  <p>輸入暱稱、學號、密碼、評語、給分(1~5)</p>
  <form class="form-inline" action="" method="POST">
  	{% csrf_token %}
    <button type="submit" class="btn btn-primary">送出</button>
    <select name="iNowScore" class="form-control" >
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="text" class="form-control"  placeholder="評語" name="sComment">
  	<input type="text" class="form-control"  placeholder="暱稱(可留白)" name="sNickname">
    {% if is_login is True %}
    <input style="visibility:hidden" type="text" class="form-control"  placeholder="學號" name="sStudent_id">
    <input style="visibility:hidden" type="password" class="form-control"  placeholder="密碼" name="sPassword">
    {% else %}
    <a class="btn btn-danger" href="{% provider_login_url 'google' method='oauth2' %}">Google登入</a>
    <input type="text" class="form-control"  placeholder="學號" name="sStudent_id">
    <input type="password" class="form-control"  placeholder="密碼" name="sPassword">
    {% endif %}
    
  </form>
 </div>
 <div class="container">
   <h2>現在報告：{{now_report}}；下一個報告：{{next_report}}</h2>
   {% if show_button %}
   <a class="btn btn-primary" href="/update">紀錄評分後抽下一個</a>
   <a class="btn btn-primary" href="/change">更換下一個但不更新評分</a>
   {% endif %}
 </div>

</body>
</html>