<html>
<head>

  <title>冠曄與他科技應用專題好夥伴</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
  <h2>LeaderBoard</h2>       
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th>班級</th>
        <th>學號</th>
        <th>姓名</th>
        <th>總分</th>
        <th>報告總次數</th>
      </tr>
    </thead>

    <tbody>
      {% for student in student_list %}
      {% if student.username != "kyle" %}
	      <tr>
	        <td>{{student.first_name}}</td>
          <td>{{student.username}}</td>
	        <td>{{student.last_name}}</td>
          <td>{{student.student.iTotalScore}}</td>
          <td>{{student.student.iTotalReport}}</td>
	      </tr>
    {% endif %}
	  {% endfor %}

    </tbody>
  </table>
</div>

</body>
</html>