<form class="form-inline" action="" method="POST">
	{% csrf_token %}
	<input type="text" class="form-control"  placeholder="學號" name="sStudent_id">
  <input type="text" class="form-control"  placeholder="班級" name="sClass">
  <input type="text" class="form-control"  placeholder="姓名" name="sName">
  <button type="submit" class="btn btn-primary">送出</button>
</form>

{% if status %}
{{ sStudent_id }} 設置成功，密碼 {{ sPassword }}
{% endif %}

<table border="1px">
<thead>
  <tr>
    <th>學號</th>
    <th>密碼</th>
    
  </tr>
</thead>

<tbody>
  {% for student in student_list %}
      <tr>
        <td>{{student.sStudent_id}}</td>
        <td>{{student.sPassword}}</td>
      </tr>
  {% endfor %}

</tbody>
</table>